asgiref==3.8.1
backports.zoneinfo==0.2.1
brotli==1.2.0
cffi==1.17.1
charset-normalizer==3.4.4
cssselect2==0.7.0
django==4.2.27
fonttools==4.57.0
html5lib==1.1
pillow==10.4.0
pycparser==2.23
pydyf==0.11.0
pyphen==0.16.0
reportlab==4.4.3
six==1.17.0
sqlparse==0.5.4
tinycss2==1.4.0
typing-extensions==4.13.2
weasyprint==61.2
webencodings==0.5.1
zopfli==0.2.3.post1
