<style>
body {
    font-family: Arial;
    background: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background: white;
    padding: 30px;
    border-radius: 10px;
}
button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
}
</style>
<h2>Nova senha</h2>

<form method="post">
    {% csrf_token %}
    {{ form.new_password1 }}
    {{ form.new_password2 }}

    <button type="submit">Alterar senha</button>
</form>