{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}Sistema{% endblock %}</title>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
body{
    font-family: Inter, sans-serif;
}
</style>

</head>

<body class="bg-slate-100">

<div class="flex min-h-screen">

    {% include 'clinica/menu.html' %}

    <main class="flex-1 min-w-0 p-4 md:p-6 lg:p-8 overflow-x-hidden">

    <button onclick="toggleMenu()"
    class="lg:hidden bg-violet-600 text-white px-4 py-2 rounded-xl mb-4">
        ☰ Menu
    </button>

    {% block content %}{% endblock %}

</main>
    

</div>
<script>
function toggleMenu(){
document.getElementById('sidebar')
.classList.toggle('-translate-x-full');
}
</script>

</body>
</html>
