{% extends 'agendamentos/base_agendamento.html' %}

{% block title %}Passo 1{% endblock %}

{% block content %}

<div class="card p-4 shadow">

    <h3 class="text-center mb-4">Informe seus Dados3</h3>

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Nome do Paciente:</label>
            <input
                type="text"
                name="nome_paciente"
                class="form-control"
                placeholder="Ex: João da Silva"
                required>
        </div>

        <div class="mb-3">
            <label class="form-label">Telefone:</label>
            <input 
                type="text" 
                name="telefone" 
                class="form-control" 
                placeholder="(DDD) 9XXXX-XXXX" 
                required>
        </div>  

        <button class="btn btn-primary w-100 mt-3">Próximo</button>
    </form>

</div>

<div class="text-center mt-3">
    <a href="{% url 'solicitar_codigo' %}" class="text-muted small">
        Já sou paciente • acessar minha conta
    </a>
</div>

{% endblock %}